$primaryFont: 'Raleway';

.module_tech {
  width: 100%;
  height: auto;
  background-color: #2980b9;
  position: relative;
  clear: both;
  margin-bottom: 30px;


  & .module_tech_bg {
    width : 100%;
    height : 480px;
    position : absolute;
    left : 0;
    top : 140px;
    background-color : #fff;
  }
  & .tech_tri_top {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0px;
  }
  & .tech_tri_bottom {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    position: absolute;
    bottom: 0px;
  }
  & .module_tech_meta {
    & span {
      position: absolute;
      top: 22px;
      color: #FFF;
      font-size: 30px;
      z-index: 2;
    }
    & h3 {
      position: absolute;
      color: #FFF;
      font-family: $primaryFont;
      left: 36px;
      top: 57px;
      margin: 0;
      z-index: 2;
    }
  }
  & .module_tech_experience {
    width: 1000px;
    height: 532px;
    margin: 0 auto;
    position: relative;
    top: 90px;

    & .item:first-child {
      border : none!important;
    }
    & .item {
      width: 120px;
      height: 40px;
      background-color: #FFF;
      position: absolute;
      border : 1px solid #d0d0d0;
      color : #5f6264;

      & p {
        text-align: center;
        line-height: 38px
      }
    }

  }

  & .pdfword {
    position : absolute;
    font-family : $primaryFont;
    color : #FFF;
    bottom : 14px;
    font-size : 17px;
    left : 0;
  }
}
