<div class="module_tech">
<div class="module_tech_bg"></div>
  <p class="pdfword">Trouvez plus de détails sur : Telecharger au format <b>pdf</b> ou <b>word</b></p>
  <div class="module_tech_meta">
    <h3>~Experiences et technologies~</h3>
    <span class="glyphicon glyphicon-blackboard"></span>
  </div>
  <div class="tech_tri_top"></div>
  <div class="tech_tri_bottom"></div>
  <div class="module_tech_experience">

    <div *ngIf="experience">
      <div
        id="{{ item.target}}"
        class="item"
        *ngFor="let item of experience"
      >
        <p>{{ item.titre}}</p>
      </div>
    </div>

  </div>
</div>
