<header>
<div class="header_container">
<div class="logo"><p>FW</p></div>
<nav>
    <ul>
	    <li><div class="menu_sep"></div><span>Acceuil</span></li>
        <li><div class="menu_sep"></div><span>Formations</span></li>
		<li><div class="menu_sep"></div><span>Espace etudiants</span></li>
	    <li><span>Nous Contactez</span></li>		
    </ul>
</nav>

<div class="search_container">
	
	<input type="text" placeholder="Que cherchez vous ?" name="q" />
	<button>Rechercher</button>

</div>
</div>
</header>