<footer>

  <div class="footer_meta">
    <span class="glyphicon glyphicon-road"></span>
    <h3>~Coordonnées~</h3>
  </div>
  <div class="tri_footer"></div>
  <div class="footer_container">

    <div class="footer_info">

      <h3><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Adresse</h3>
      <p>Mers sultan rue d'alsace imm177 4eme etage N7</p>
      <h3><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;GSM</h3>
      <p>06 22 41 44 68</p>
      <h3><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;Fix</h3>
      <p>02 22 34 55 65</p>

      <h3><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email</h3>
      <p>devpart.maroc@gmail.com</p>
      <h3><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Facebook</h3>
      <p>https://www.facebook.com/reda.daif.5</p>
    </div>

    <div class="footer_map">
      <h3><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Localisation GPS</h3>
      <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="15">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
      </sebm-google-map>
      <i>Lat : 33.586084 Lng : -7.609631</i>
    </div>

  </div>
</footer>

