
<div class="module_info">

  <div class="horraire_meta">
    <span class="glyphicon glyphicon-time"></span>
    <h3> ~Horraire & Durée~</h3>

  </div>

  <div class="horraire_groupes">
    <div class="horraire_groupe_a">
      <h4><span class="glyphicon glyphicon-share-alt"></span> Groupe A</h4>
      <p> -Samedi 9h00 - 12h00 </p><p> -Dimanche 14h00 - 16H15</p>
    </div>
    <div class="horraire_groupe_b">
      <h4><span class="glyphicon glyphicon-share-alt"></span> Groupe A</h4>
      <p> -Samedi 9h00 - 12h00 </p><p> -Dimanche 14h00 - 16H15</p>
    </div>
    <div class="horraire_duree">
      <h4><span class="glyphicon glyphicon-hourglass"></span> Durée</h4>
      <p> -La durée totale et de 12Mois</p>
    </div>

    <i> &nbsp;&nbsp;Nombre d'heures : 260 Heures</i>
  </div>

</div>
