<div class="module_info">

  <div class="horraire_meta">
    <span class="glyphicon glyphicon-time"></span>
    <h3> ~Horraire & Durée~</h3>

  </div>

  <div class="horraire_groupes">
    <div class="groupes">
      <table>
        <thead>
        <th><span class="glyphicon glyphicon-log-out"></span> Groupes</th><th>Seance 1</th><th>Seance 2</th><th>Durrée</th>
        </thead>
        <tbody>

        <tr *ngFor="let groupe of groupes;let i=index">
          <td>{{groupe.nom}}</td> <td *ngFor="let hr of groupe.seances">{{ hr }}</td>
          <td *ngIf="i==0"rowspan="2">{{duree}}Mois</td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="duree">

      <i>Nombre d'heures : {{nbheures}} Heures</i>

    </div>
  </div>

</div>
