$primaryFont: 'Raleway';
$moduleTitleColor: #2980b9;


.module_container {
	width: 1000px;
	height: auto;
	margin: 20px auto 10px auto;
	position: relative;

	& .title_module {
		width: 100%;
		height: 35px;
		position: relative;
		margin-top: 10px;

		& span {
			position: absolute;
			left: 0px;
			top: -35px;
			color: #34495e;
			font-size: 30px;
			z-index: 2;
		}
		& h3 {
			position: absolute;
			color: #34495e;
			font-family: $primaryFont;
			left: 36px;
			top: 0;
			margin: 0;
			z-index: 2;
		}
	}
	& .module_grid {
		width: 100%;
		margin: 0px auto 10px auto;

		& .module_list {
			& .grid_post {
				width: 100%;
				height: auto;
				margin-top: 10px;

				& .grid_post_titre {
					width: 100%;
					height: 33px;
					position: relative;
					border-bottom: 1px solid $moduleTitleColor;

					& span {
						position: absolute;
						left: 0px;
						top: 2px;
						font-size: 14px;
						color: #FFF;
						width: 20px;
						height: 20px;
						background-color: #607D8B;
						text-align: center;
						line-height: 20px;
						border-radius: 20px;
						font-weight: bold;
					}
					& h3 {
						position: absolute;
						top: 3px;
						left: 25px;
						font-family: $primaryFont;
						margin: 0;
						font-size: 18px;
						color: $moduleTitleColor;
					}
				}
				& .grid_post_data {
					width: 100%;
					height: auto;
					padding: 10px 10px 1px 10px;
					position: relative;

					& p {
						font-family: $primaryFont;
						font-size: 15px;
						color: #5f6264;
						margin: 0 !important;

						& span {
							font-size: 14px;
							color: #8bc34a;
							left: -5px;
						}
					}
				}
			}
		}
		& .grid_left {

			/* Class module_list */

			float: left;
			width: 45%;
			height: auto;
			position: relative;
			margin-bottom: 60px;
		}
		& .grid_right {

			/* Class module_list */

			float: right;
			width: 45%;
			height: auto;
		}
	}
}

.btn_top {
	position : fixed;
	bottom :  40px;
	right :  40px;
	z-index :  9;
	opacity :  0.5;
	color : orange;
	font-size :  40px;
}
